.section__gridAppartement {
    max-width: 1160px;
    margin: 40px auto;
    padding: 56px 40px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    background-color: $bg__container;
    transition: all ease-in-out 300ms;

    @include desktop {
        max-width: calc(90% - 20px);
        margin: 30px auto;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    @include tab {
        max-width: calc(87% - 20px);
    }
    @include mobile {
        grid-template-columns: 1fr;
        background-color: transparent;
        margin: 20px auto;
        padding: 0;
        max-width: calc(100% - 40px);
        width: 100%;
        gap: 20px;
    }
    &-cardAppart {
        margin: auto;
        border-radius: 10px;
        max-width: 340px;
        width: 100%;
        height: 340px;
        position: relative;
        text-decoration: none;
        background: rgb(2, 0, 36);
        background: linear-gradient(
            0deg,
            rgba(2, 0, 36, 0.9951573849878934) 0%,
            rgba(255, 255, 255, 0) 50%
        );
        transition: all ease-in-out 300ms;

        @include mobile {
            max-width: 100%;
            height: 255px;
            margin: auto;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: all ease-in-out 300ms;
            position: relative;
            z-index: -1;
            &:hover {
                opacity: 0.3;
            }
        }

        & h2 {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            transform: translateY(-90px);
            margin-left: 20px;
            color: white;
            width: fit-content;

            &:hover {
                color: $color-primary;
            }
            &:link {
                text-decoration: none;
            }
            &:active {
                text-decoration: none;
            }
        }
    }
}
.appart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    @include tab {
        width: calc(100% - 40px);
    }
    @include mobile {
        flex-direction: column;
    }

    &__header {
        &-details {
            background-color: aquamarine;
            width: 80%;
            & h1 {
                color: $color-primary;
                font-size: 36px;
                font-weight: 500;
                line-height: 51px;
                margin: 0;
                @include mobile {
                    font-size: 18px;
                    line-height: 26px;
                }
            }
            & p {
                color: $color-primary;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                margin: 0 0 20px 0;
                @include mobile {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 5px 0;
                }
            }
            & .appart__tag {
                height: 25px;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                &-span {
                    text-align: center;
                    display: block;
                    background-color: $color-primary;
                    color: white;
                    padding: 5px 15px;
                    border-radius: 10px;
                    min-width: 85px;
                    width: auto;
                    margin-right: 10px;
                    @include mobile {
                        min-width: 65px;
                        height: 18px;
                        padding: 0px 10px;
                        border-radius: 5px;
                        margin-right: 5px;
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
    &__host {
        width: 180px;
        @include mobile {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }

        &-details {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            &-img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-top: 5px;
                @include mobile {
                    width: 32px;
                    height: 32px;
                    margin: 0;
                }
            }
            & p {
                margin: 0 5px 0 0;
                display: flex;
                flex-direction: column;
                text-align: end;
                color: $color-primary;
                font-size: 18px;
                line-height: 26px;
                @include mobile {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
        &-notation div {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include mobile {
                margin: 0;
                width: 110px;
            }
        }
    }
    &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: 0;
        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }
}

.accordion {
    margin-top: 20px;
    background-color: aquamarine;
    width: 48%;
    @include mobile {
        width: 100%;
        margin-top: 15px;
    }
    & h2 {
        margin: 0 0 20px 0;
        font-size: 18px;
        font-weight: 500;
        color: white;
        width: calc(100% - 15px);
        background-color: $color-primary;
        line-height: 26px;
        height: 52px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        padding-left: 15px;
        z-index: 2;
    }
    & p {
        width: 90%;
        margin: 0;
    }
    & div {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        color: $color-primary;
        padding: 10px;
        background-color: $color-secondary;
        height: 250px;
        transform: translateY(-22px);
        border-radius: 10px;
        line-height: 18px;
        z-index: 1;
        @include mobile {
            font-size: 12px;
            height: auto;
        }
    }
}
