$marginBase: 20px;
$widthComponentWithMargin: calc(100% - 2 * $marginBase);

@media screen and (min-width: 1441px) {
    html {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
body {
    margin: 0 auto;
    max-width: 1240px;
    width: 90%;
    height: auto;
    font-family: 'Montserrat', sans-serif;

    @include tab {
        margin: $marginBase;
        width: 100%;
    }
}
