.carroussel-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: max-content;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    @include tab {
        margin-top: 10px;
        width: calc(100% - 20px);
        transform: translateX(-10px);
    }
    @include mobile {
        width: 100%;
        margin-top: 0;
    }
}

.carroussel-button {
    position: absolute;
    top: 310px;
    border: none;
    background: transparent;
    color: white;
    width: min-content;
    z-index: 2;
    font-size: 46px;
    margin-left: 15px;
    cursor: pointer;
    @include tab {
        top: 160px;
        font-size: 36px;
        margin-left: 20px;
    }
    @include mobile {
        top: 120px;
        font-size: 20px;
        margin-left: 20px;
    }
    &:hover {
        color: $color-primary;
    }
}
.arrow-right {
    position: absolute;

    right: 70px;
    @include tab {
        right: 15px;
    }
    @include mobile {
        right: 10px;
    }
}

.pagination-carroussel {
    text-align: center;
    width: min-content;
    margin: auto;
    color: white;
    transform: translateY(-40px);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    @include mobile {
        transform: translate(-20px, -30px);
    }
}
